@import "tailwindcss";

@theme inline  {
  --font-balthazar: var(--font-balthazar);
  --font-fredoka: var(--font-fredoka);
  --font-inter: var(--font-inter);
  --font-playfair: var(--font-playfair);
}